.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.975586;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.960938;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.740234;font-style:normal;font-weight:normal;visibility:visible;}
.m3{transform:matrix(0.212500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.212500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.212500,0.000000,0.000000,0.250000,0,0);}
.m4{transform:matrix(0.225000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.225000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.225000,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.237500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.237500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.237500,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m5{transform:matrix(0.275000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.275000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.275000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:matrix(0.375000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.375000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.375000,0.000000,0.000000,0.250000,0,0);}
.m6{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-20.580000px;}
._3{margin-left:-9.940000px;}
._6{margin-left:-3.528000px;}
._7{margin-left:-2.264000px;}
._4{margin-left:-1.224000px;}
._2{width:4.200000px;}
._5{width:5.600000px;}
._1{width:8.820000px;}
.fc2{color:rgb(43,40,36);}
.fc1{color:rgb(65,61,58);}
.fc0{color:rgb(255,255,255);}
.fs4{font-size:32.000000px;}
.fs5{font-size:36.000000px;}
.fs3{font-size:40.000000px;}
.fs1{font-size:48.000000px;}
.fs6{font-size:56.000000px;}
.fs2{font-size:68.000000px;}
.fs0{font-size:140.000000px;}
.y0{bottom:0.000000px;}
.y1d{bottom:9.153999px;}
.y1b{bottom:71.004986px;}
.y1a{bottom:90.020986px;}
.y19{bottom:125.966988px;}
.y18{bottom:298.331985px;}
.y17{bottom:323.045984px;}
.y11{bottom:351.162004px;}
.y10{bottom:367.576006px;}
.yf{bottom:386.262012px;}
.ye{bottom:402.326012px;}
.yd{bottom:423.621006px;}
.yc{bottom:437.350006px;}
.y16{bottom:451.865009px;}
.yb{bottom:453.215008px;}
.y15{bottom:464.412006px;}
.y14{bottom:475.681007px;}
.ya{bottom:479.749008px;}
.y13{bottom:490.288009px;}
.y12{bottom:507.092009px;}
.y7{bottom:563.830994px;}
.y9{bottom:569.029995px;}
.y6{bottom:575.640995px;}
.y8{bottom:580.298994px;}
.y5{bottom:611.751002px;}
.y1c{bottom:636.054993px;}
.y4{bottom:647.782997px;}
.y3{bottom:726.082001px;}
.y2{bottom:747.313995px;}
.y1{bottom:789.070000px;}
.h6{height:24.671875px;}
.h9{height:26.208984px;}
.ha{height:27.250000px;}
.h7{height:27.755859px;}
.h5{height:29.121094px;}
.h8{height:30.390625px;}
.h4{height:30.839844px;}
.h2{height:34.945312px;}
.hb{height:40.769531px;}
.h3{height:49.505859px;}
.h1{height:101.923828px;}
.h0{height:842.500000px;}
.w1{width:323.200012px;}
.w0{width:595.500000px;}
.x0{left:0.000000px;}
.x30{left:10.150001px;}
.x37{left:18.700000px;}
.x2f{left:20.850000px;}
.x31{left:24.750000px;}
.x33{left:31.100000px;}
.x2d{left:36.299999px;}
.x35{left:40.000000px;}
.x32{left:48.524999px;}
.x34{left:54.875000px;}
.x36{left:63.775000px;}
.x1{left:212.100006px;}
.x2{left:227.850006px;}
.x2e{left:229.049999px;}
.x3{left:237.846006px;}
.x4{left:246.397007px;}
.x5{left:255.063006px;}
.x6{left:263.664005px;}
.x7{left:272.330004px;}
.x8{left:280.931007px;}
.x9{left:289.597012px;}
.xa{left:298.148003px;}
.xb{left:306.152008px;}
.xc{left:314.753006px;}
.xd{left:318.087006px;}
.xe{left:326.688004px;}
.xf{left:334.692020px;}
.x10{left:343.243004px;}
.x11{left:354.568996px;}
.x12{left:363.170013px;}
.x13{left:371.835999px;}
.x14{left:380.437012px;}
.x15{left:388.441010px;}
.x16{left:396.992010px;}
.x17{left:403.332001px;}
.x18{left:411.932999px;}
.x19{left:415.267006px;}
.x1a{left:423.868011px;}
.x1b{left:432.534035px;}
.x1c{left:441.085007px;}
.x1d{left:448.415009px;}
.x1e{left:457.016006px;}
.x1f{left:466.350006px;}
.x20{left:474.951004px;}
.x21{left:483.616989px;}
.x22{left:492.167999px;}
.x23{left:502.163986px;}
.x24{left:510.765015px;}
.x25{left:519.431000px;}
.x26{left:528.032013px;}
.x27{left:535.361984px;}
.x28{left:543.912994px;}
.x29{left:547.246994px;}
.x2a{left:555.847992px;}
.x2b{left:564.514008px;}
.x2c{left:573.115021px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-27.440000pt;}
._3{margin-left:-13.253333pt;}
._6{margin-left:-4.704000pt;}
._7{margin-left:-3.018667pt;}
._4{margin-left:-1.632000pt;}
._2{width:5.600000pt;}
._5{width:7.466667pt;}
._1{width:11.760000pt;}
.fs4{font-size:42.666667pt;}
.fs5{font-size:48.000000pt;}
.fs3{font-size:53.333333pt;}
.fs1{font-size:64.000000pt;}
.fs6{font-size:74.666667pt;}
.fs2{font-size:90.666667pt;}
.fs0{font-size:186.666667pt;}
.y0{bottom:0.000000pt;}
.y1d{bottom:12.205332pt;}
.y1b{bottom:94.673314pt;}
.y1a{bottom:120.027981pt;}
.y19{bottom:167.955983pt;}
.y18{bottom:397.775981pt;}
.y17{bottom:430.727979pt;}
.y11{bottom:468.216006pt;}
.y10{bottom:490.101341pt;}
.yf{bottom:515.016017pt;}
.ye{bottom:536.434682pt;}
.yd{bottom:564.828008pt;}
.yc{bottom:583.133341pt;}
.y16{bottom:602.486679pt;}
.yb{bottom:604.286677pt;}
.y15{bottom:619.216009pt;}
.y14{bottom:634.241343pt;}
.ya{bottom:639.665344pt;}
.y13{bottom:653.717345pt;}
.y12{bottom:676.122678pt;}
.y7{bottom:751.774658pt;}
.y9{bottom:758.706660pt;}
.y6{bottom:767.521327pt;}
.y8{bottom:773.731992pt;}
.y5{bottom:815.668003pt;}
.y1c{bottom:848.073324pt;}
.y4{bottom:863.710663pt;}
.y3{bottom:968.109334pt;}
.y2{bottom:996.418660pt;}
.y1{bottom:1052.093333pt;}
.h6{height:32.895833pt;}
.h9{height:34.945312pt;}
.ha{height:36.333333pt;}
.h7{height:37.007812pt;}
.h5{height:38.828125pt;}
.h8{height:40.520833pt;}
.h4{height:41.119792pt;}
.h2{height:46.593750pt;}
.hb{height:54.359375pt;}
.h3{height:66.007812pt;}
.h1{height:135.898438pt;}
.h0{height:1123.333333pt;}
.w1{width:430.933350pt;}
.w0{width:794.000000pt;}
.x0{left:0.000000pt;}
.x30{left:13.533334pt;}
.x37{left:24.933334pt;}
.x2f{left:27.800001pt;}
.x31{left:33.000000pt;}
.x33{left:41.466667pt;}
.x2d{left:48.399999pt;}
.x35{left:53.333333pt;}
.x32{left:64.699998pt;}
.x34{left:73.166667pt;}
.x36{left:85.033333pt;}
.x1{left:282.800008pt;}
.x2{left:303.800008pt;}
.x2e{left:305.399999pt;}
.x3{left:317.128009pt;}
.x4{left:328.529343pt;}
.x5{left:340.084009pt;}
.x6{left:351.552007pt;}
.x7{left:363.106672pt;}
.x8{left:374.574677pt;}
.x9{left:386.129349pt;}
.xa{left:397.530670pt;}
.xb{left:408.202677pt;}
.xc{left:419.670675pt;}
.xd{left:424.116007pt;}
.xe{left:435.584005pt;}
.xf{left:446.256027pt;}
.x10{left:457.657338pt;}
.x11{left:472.758662pt;}
.x12{left:484.226685pt;}
.x13{left:495.781331pt;}
.x14{left:507.249349pt;}
.x15{left:517.921346pt;}
.x16{left:529.322680pt;}
.x17{left:537.776001pt;}
.x18{left:549.243998pt;}
.x19{left:553.689341pt;}
.x1a{left:565.157349pt;}
.x1b{left:576.712046pt;}
.x1c{left:588.113342pt;}
.x1d{left:597.886678pt;}
.x1e{left:609.354675pt;}
.x1f{left:621.800008pt;}
.x20{left:633.268005pt;}
.x21{left:644.822652pt;}
.x22{left:656.223999pt;}
.x23{left:669.551982pt;}
.x24{left:681.020020pt;}
.x25{left:692.574666pt;}
.x26{left:704.042684pt;}
.x27{left:713.815979pt;}
.x28{left:725.217326pt;}
.x29{left:729.662659pt;}
.x2a{left:741.130656pt;}
.x2b{left:752.685343pt;}
.x2c{left:764.153361pt;}
}
